
.car-detail {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    color: #333;
}

.backBtn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.backBtn:hover {
    background-color: #555;
}

.carName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: white;
    margin-bottom: 15px;
}

.carImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    margin: 5rem auto 2rem auto;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 7px 4px rgb(223, 190, 7);
}

.carDetailTables {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.carInfoTable {
    width: 50rem;
}

.tableHeader2 {
	color: rgb(21, 201, 232);
	background-color: black;
	text-align: center;
    height: 50px;
	padding: 15px 80px 20px 80px !important;
	font-size: 1.8rem !important;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maxRank {
    font-size: 1.6rem;
}

.carInfo {
    font-size: 1.2rem;
    margin: 10px 0;
    color: white;
}

