
.car-detail {
    padding: 20px;
    color: #333;
}



.backBtn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.backBtn:hover {
    background-color: #555;
}

.carName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: white;
    margin-bottom: 15px;
}

.carImage {
    display: flex;
    height: 23rem;
    margin: 5rem auto 6rem auto;

}

.maxRank {
    font-size: 1.6rem;
}

.carInfo {
    font-size: 1.2rem;
    margin: 10px 0;
    color: white;
}