.carFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5rem auto 2rem auto;
  text-align: center;
}

.starRanks {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  width: 9rem;
  padding: 5px;
  border-radius: 9px;
}

.carSearch {
  width: 16rem;
  text-align: center;
  height: 2.3rem;
  padding: 4px;
  border-radius: 9px;
  font-size: 1.2rem;
}

.carSearch::placeholder {
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease-in-out;
  font-size: 1.2rem;
}

.carSearch:focus::placeholder {
  color: rgba(0, 0, 0, 0); /* Fully transparent when input is focused */
}

@media only screen and (max-width: 390px) {
  .carFilters {
    margin: 26rem auto 1rem auto;
  }
}
