.asphalt-info {
    display: flex;
    color:  white;
    background-color: black;
    border: 4px solid rgb(11, 7, 134);
    width: 90rem;
    height: 20rem;
    margin: 7rem auto;
    box-shadow: 0 0 9px 5px rgb(223, 190, 7);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 92%;
    font-size: 21px;
    padding-right: 0;
    margin: 0 auto;
}

#asphalt-carousel-slides {
    width: 90rem;
    margin: 0 auto;
    box-shadow: 0 0 7px 6px rgb(223, 190, 7);
    padding: 1px;
    border: 5px solid black;
    margin-bottom: 10rem;
  }

@media only screen and (max-width: 768px) {
     .asphalt-info {
      margin-top: 15rem;
      max-width: 40rem;
      margin-bottom: 4rem;
      height: 31rem;
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35rem;
    }
    #asphalt-carousel-slides {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 38rem;
        height: 19rem;
      }
    
      .d-block {
        height: 19rem;
      }
  }

  @media only screen and (max-width: 390px) {
    .asphalt-info {
      display: flex;
      flex-direction: column;
      margin-top: 26rem;
      width: 21rem;
      height: 55rem;
    }
    .info {
        display: flex;
        text-align: center;
        margin-top: 1.5rem;
        width: 20rem;
    }
    #asphalt-carousel-slides {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
      margin-left: auto;
      margin-right: auto;
      width: 20rem;
      height: 12rem;
    }
  
    .d-block {
      height: 12rem;
    }
  }
