.jumpList {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 10px;
}

.brandAlphabetical {
  display: flex;
  font-size: 40px;
  margin: 10px;
  color: rgb(21, 201, 232);
}

.alphabetList {
  display: flex;
  font-size: 75px;
  color: rgb(21, 201, 232);
  padding-left: 80px;
  margin-bottom: 10px;
}

.manufacturerName {
  display: flex;
  font-size: 78px;
  padding-left: 22px;
  color: rgb(255, 196, 0);
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px 4px #000000;
  margin-bottom: 2rem;
}
#Acura {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 11rem;
  height: 11rem;
}

#AjlaniMotors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 9rem;
  height: 11rem;
}

#AlfaRomeo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 11rem;
  height: 11rem;
}

#ApexMotors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 15rem;
  height: 9rem;
}

#ApolloAutomobil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 9rem;
  height: 10rem;
}

#ArashMotorCompanyLtd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.8rem;
  width: 10.8rem;
  height: 11rem;
}

#AresModena {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 9rem;
  height: 10rem;
}

#Arrinera {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 5rem;
  height: 11rem;
}
#Artega {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 10rem;
  height: 11rem;
}
#Aspark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 10rem;
  height: 9rem;
}

#AstonMartin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 22rem;
  height: 6rem;
}

.manufacturerInfo {
  display: flex;
  flex-direction: column;
  text-align: center; /* Align text content centrally */
  color: rgb(21, 201, 232);
  background-color: black;
  border: 4px solid rgb(11, 7, 134);
  padding: 18px 24px;
  max-width: 46rem;
  box-shadow: 0 0 9px 5px rgb(223, 190, 7);
  margin: 1.5rem auto;
  overflow: hidden; /* Prevent overflow issues */
}

.resourcesContainer {
  width: 100%; /* Take full width of the parent container */
  margin-top: 0.3rem; /* Add spacing from manufacturer info */
  text-align: center; /* Center-align the links */
}

.resourcesHeader {
  font-weight: normal;
  text-decoration: underline;
  font-size: 1.8rem;
  font-style: italic;
  color: rgb(223, 183, 7);
}

.resourcesList {
  list-style-type: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.resourcesList li {
  margin-bottom: 0.5rem; /* Add spacing between links */
}

.resourcesList a {
  color: rgb(21, 201, 232); /* Match text color */
}

.resourcesList a:hover {
  font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
  .jumpList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14rem;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    width: 32rem;
    margin-bottom: 3rem;
  }
  .alphabetList {
    display: flex;
    height: 4rem;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-bottom: 2.7rem;
  }
  .manufacturerName {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    font-size: 5rem;
    margin-bottom: 33px;
  }
  .manufacturerInfo {
    display: flex;
    text-align: center;
    max-width: 37rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
  }
  #Acura {
    display: flex;
    margin: 0 auto;
  }
  #AjlaniMotors {
    display: flex;
    margin: 0 auto;
  }
  #AlfaRomeo {
    display: flex;
    margin: 0 auto;
  }
  #ApexMotors {
    display: flex;
    margin: 0 auto;
  }
  #ApolloAutomobil {
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 8rem;
  }
  #ArashMotorCompanyLtd {
    display: flex;
    margin: 0 auto;
  }
  #AresModena {
    display: flex;
    margin: 0 auto;
  }
  #Arrinera {
    display: flex;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 390px) {
  .jumpList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22.5rem;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    width: 17rem;
    margin-bottom: 3rem;
  }
  .manufacturerLetter {
    margin-top: 19rem;
  }
  .alphabetList {
    display: flex;
    height: 4rem;
    width: 56%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-bottom: 2.7rem;
  }
  .manufacturerName {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 78%;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    font-size: 62px;
    margin-bottom: 33px;
  }
  .manufacturerInfo {
    display: flex;
    text-align: center;
    max-width: 80%;
    padding-left: 15px;
    padding-right: 15px;
  }
  #Acura {
    display: flex;
    margin: 0 auto;
  }
  #AjlaniMotors {
    display: flex;
    margin: 0 auto;
  }
  #AlfaRomeo {
    display: flex;
    margin: 0 auto;
  }
  #ApexMotors {
    display: flex;
    margin: 0 auto;
  }
  #ApolloAutomobil {
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 8rem;
  }
  #ArashMotorCompanyLtd {
    display: flex;
    margin: 0 auto;
  }
  #AresModena {
    display: flex;
    margin: 0 auto;
  }
  #Arrinera {
    display: flex;
    margin: 0 auto;
  }
}
