.nav-css {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-bottom: 4px;
}

.btn-primary {
  display: flex;
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  background-color: unset;
  border-color: unset;
  border: none;
  border-radius: 0;
}

.btn-lg {
display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(223, 190, 7);
    text-shadow: 3px 2px 2px #7a05be;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 11rem;
}

.btn-lg:hover {
  /* color: rgb(223, 190, 7); */
  text-shadow: 3px 2px 2px #7a05be;
  text-decoration: none;
  background-color: unset;
  border-top: 3px solid #7a05be;
  border-left: 3px solid #7a05be;
  border-right: 3px solid #7a05be;
}

.active-link {
  border-left: 3px solid rgb(223, 190, 7);
  border-right: 3px solid rgb(223, 190, 7);
}

@media only screen and (max-width: 768px) {
  .nav-css {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .btn-lg {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
  }
}

@media only screen and (max-width: 390px) {
  .nav-css {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto 1rem auto;
  }
  .btn-lg {
      display: flex;
      margin-top: 1rem;
      margin-bottom: 0.6rem
  }
}
