#asphalt-carousel-slides {
    width: 40%;
    margin: 0 auto 100px auto;
    box-shadow: 0 0 7px 6px rgb(223, 190, 7);
    padding: 1px;
    border: 5px solid black;
}

@media only screen and (max-width: 464px) {
    #asphalt-carousel-slides {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
      margin-left: auto;
      margin-right: auto;
      width: 20rem;
      height: 15rem
    }

    .d-block {
      height: 15rem;
    }
  }
