.Header {
  height: 210px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #090113 1%,
    #554e4e 42%,
    #000000 94%
  );
  box-shadow: 0 0 12px 7px #490db2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 196, 0);
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 10px;
}

.PageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

@media only screen and (max-width: 464px) {
  .Header {
    height: 13rem;
    margin: 0 auto;
    width: 100%;

  }
  .PageHeader {
    text-align: center;
    width: 70%;
    margin-top: 26rem;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5rem;
    font-size: 40px;
    color: rgb(255, 196, 0);
    text-shadow: 4px 4px 4px #000000;
}
}


