.jumpList {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 10px;
}

.brandAlphabetical {
  display: flex;
  font-size: 40px;
  margin: 10px;
  color: rgb(21, 201, 232);
}

.alphabetList {
  display: flex;
  font-size: 75px;
  color: rgb(21, 201, 232);
  padding-left: 80px;
  margin-bottom: 10px;
}

.manufacturerName {
  display: flex;
  font-size: 78px;
  padding-left: 22px;
  margin-bottom: 30px;
  color: rgb(255, 196, 0);
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px 4px #000000;
}
#Acura {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 148px;
  height: 130px;
}

#AjlaniMotors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 140px;
  height: 152px;
}

#AlfaRomeo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 147px;
  height: 150px;
}

#ApexMotors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 150px;
  height: 110px;
}

#ApolloAutomobil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 140px;
  height: 133px;
}

#ArashMotorCompanyLtd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.8rem;
  width: 180px;
  height: 150px;
}

#AresModena {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 155px;
  height: 154px;
}

#Arrinera {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  width: 79px;
  height: 135px;
}

.manufacturerInfo {
  display: flex;

  color: rgb(21, 201, 232);
  background-color: black;
  border: 4px solid rgb(11, 7, 134);
  padding-top: 18px;
  padding-right: 24px;
  padding-left: 25px;
  padding-bottom: 19px;
  max-width: 40%;
  box-shadow: 0 0 9px 5px rgb(223, 190, 7);
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 464px) {
  .jumpList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22.5rem;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    width: 17rem;
    margin-bottom: 3rem;
  }
  .alphabetList {
    display: flex;
    height: 4rem;
    width: 56%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-bottom: 2.7rem;
  }
  .manufacturerName {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 78%;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    font-size: 62px;
    margin-bottom: 33px;
  }
  .manufacturerInfo {
    display: flex;
    text-align: center;
    max-width: 80%;
    padding-left: 15px;
    padding-right: 15px;
  }
  #Acura {
    display: flex;
    margin: 0 auto;
  }
  #AjlaniMotors {
    display: flex;
    margin: 0 auto;
  }
  #AlfaRomeo {
    display: flex;
    margin: 0 auto;
  }
  #ApexMotors {
    display: flex;
    margin: 0 auto;
  }
  #ApolloAutomobil {
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 8rem;
  }
  #ArashMotorCompanyLtd {
    display: flex;
    margin: 0 auto;
  }
  #AresModena {
    display: flex;
    margin: 0 auto;
  }
  #Arrinera {
    display: flex;
    margin: 0 auto;
  }
}
