.manufacturerName {
    display: flex;
    font-size: 78px;
    padding-left: 22px;
    margin-bottom: 30px;
    color: rgb(255, 196, 0);
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 4px #000000;
}
#Acura {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    width: 148px;
    height: 130px;
}

#AjlaniMotors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    width: 140px;
    height: 152px;
}

#AlfaRomeo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    width: 147px;
    height: 150px;
}

#ApexMotors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    width: 150px;
    height: 110px;
}

#ApolloAutomobil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    width: 140px;
    height: 133px;
}

#ArashMotorCompanyLtd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.8rem;
    width: 180px;
    height: 150px;
}

#AresModena {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    width: 155px;
    height: 154px;
}

.manufacturerInfo {
    display: flex;

    color: rgb(21, 201, 232);
    background-color: black;
    border: 4px solid rgb(11, 7, 134);
    padding-top: 18px;
    padding-right: 24px;
    padding-left: 25px;
    padding-bottom: 19px;
    max-width: 40%;
    box-shadow: 0 0 9px 5px rgb(223, 190, 7);
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}





