* {
    box-sizing: content-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgb(55 19 138) 15%, rgb(120, 32, 220) 34%, rgb(40 5 80) 88%);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

@media only screen and (max-width: 464px) {
    * {
        box-sizing: content-box;
    }
    body {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
